$fog: rgba(255, 255, 255, 0.3);
$shade: rgba(0, 0, 0, 0.4);
body {
    margin: 0px;
}

#test {
    height: 200px;
    width: 200px;
}

#main-container {
    background-image: url("http://i.imgur.com/voR8Lgi.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    min-width: 1000px;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $shade;
    span {
        color: white;
    }
    p {
        color: white;
    }
}

#right-header {
    display:flex;
    justify-content: flex-end;
    flex: 1 1 50%;
    align-content: center;
    order: 2;
    
}

#loggedin {
    margin: 5px;
}
#left-header {
    display:flex;
    align-content: center;
    justify-content: space-around;
    flex: 1 1 40%;
    order: 0;
}
#center-header {
    flex: 1 1 10%;
    order: 1;
}
#show-signup{
    padding: 7px;
    border-radius: 15px;
    background-color: $fog;
    box-shadow: 2px 2px 5px $shade;
}

#show-login{
    padding: 7px;
    border-radius: 15px;
    background-color: $fog;
    box-shadow: 2px 2px 5px $shade;
  }
  

#content-container {
    background-color: $fog;
    width: 100%;
    height: 95vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    min-width: 900px;
    overflow: auto;
}

.small-container {
    background-color: $fog;
    border-radius: 15px;
    border: solid 1px black; //padding: 5px;
    margin: 10px;
    box-shadow: 5px 5px 5px $shade;
}

.inner-container {
    background-color: $fog;
    border-radius: 15px;
    border: solid 1px black;
    padding: 5px;
    margin: auto;
    box-shadow: 5px 5px 5px $shade;
}

#list-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    >div {
        width: 128px;
    }
    .champion-container {
        height: 148px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        box-shadow: inset 0px 0px 10px $fog;
    }
    .item-container {
        height: 160px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        box-shadow: inset 0px 0px 10px $fog;
    } // .build-container {
    //     height: 160px;
    //     padding-top: 20px;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: flex-start;
    //     align-content: center;
    //     box-shadow: inset 0px 0px 10px $fog;
    // }
    .loaded-build {
        height: 200px;
        width: 200px;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;
    }
    .item-thumb {
        height: 64px;
        width: 64px;
        min-height: 64px;
        min-width: 64px;
    }
    .name-container {
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0%;
    }
    img {
        border-radius: 15px;
        width: 96px;
        height: 96px;
        min-height: 96px;
        min-width: 96px;
        margin: auto;
    }
    span {
        height: auto;
        width: 96px;
        min-width: 96px;
        text-align: center;
        justify-self: center;
        vertical-align: middle;
        font-size: 1em;
        text-shadow: 1px 1px 2px black;
    }
}

#left-container {
    flex: 1 0 28%;
    order: 0;
    max-width: 28%;
    max-height: 925px;
    border-radius: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: $fog;
    border: solid 1px black;
    overflow: auto;
}

#middle-container {
    flex: 5 0 30%;
    order: 1;
    border-radius: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    overflow: none;
    min-width: 570px;
    >div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#right-container {
    flex: 5 0 40%;
    order: 2;
    border-radius: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    min-width: 360px;
    overflow: none;
    >div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#list-container {
    flex: 1 0 92%;
    order: 1;
    border-radius: 0px;
    margin: 0px;
}

#search-container {
    flex: 1 0 8%;
    order: 0;
    border-radius: 0px;
    margin: 0px;
    width: 100%;
    height: 8%;
}

#champion-container {
    flex: 1 1 auto;
    order: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 256px;
    min-height: 420px;
}

#ability-container {
    flex: 1 2 auto;
    order: 5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 110px;
    min-width: 540px;
    div {
        width: 96px;
        height: 96px;
        position: relative;
        background-size: 100% 100%;
        border: solid 2px black;
        border-radius: 15px;
        margin: 5px;
        img {
            width: 100%;
            height: 100%;
            opacity: 0.8;
        }
    }
}

#item-container {
    flex: 1 1 auto;
    order: 6;
    min-height: 240;
    min-width: 340;
}

#ability-info-container {
    flex: 1 1 auto;
    order: 2;
    min-width: 300px;
    min-height: 200px;
}

#stats-container {
    flex: 1 1 auto;
    order: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
    table {
        margin: 24px;
        width: 300px;
        tr {
            td {
                img {
                    height: 32px;
                    width: 32px;
                    float: left;
                }
                span {
                    margin-left: 20px;
                    height: 100%;
                    font-size: 1.6em;
                    float: left;
                }
            }
        }
    }
}

#item-info-container {
    flex: 1 1 auto;
    order: 7;
    min-width: 300px;
    min-height: 200px;
}

.info-text-list {
    width: 100%;
    height: 200px;
    margin: auto;
    padding-right: 50px;
    overflow: auto;
    ul {
        list-style-type: none; //overflow: hidden;
        li {
            margin: 10px;
        }
    }
}


/*---------------------------------------------------------*/

#selected-items {
    width: 336px;
    height: 224px;
    border: solid 2px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .item-slot {
        width: 110px;
        border: solid 1px black;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

#item-slot-1 {
    background-image: url("./images/SelectItem1.png");
}

#item-slot-2 {
    background-image: url("./images/SelectItem2.png");
}

#item-slot-3 {
    background-image: url("./images/SelectItem3.png");
}

#item-slot-4 {
    background-image: url("./images/SelectItem4.png");
}

#item-slot-5 {
    background-image: url("./images/SelectItem5.png");
}

#item-slot-6 {
    background-image: url("./images/SelectItem6.png");
}

#selected-champion {
    width: 256px;
    height: 256px;
    border: solid black 1px;
    text-align: center;
    border-radius: 15px;
    background-image: url("./images/EmptyChampionSlot.png");
    background-size: 100% 100%;
    #selected-champion-thumb {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
}

#bars {
    height: 64px;
    width: 256px;
    >div {
        box-shadow: inset 0px 0px 20px $shade;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
            text-shadow: 1px 1px 2px black;
            color: white;
        }
    }
    #health-bar {
        background-color: green;
        width: 100%;
        height: 49%;
        border: 1px solid black;
    }
    #mana-bar {
        background-color: blue;
        width: 100%;
        height: 49%;
        border: 1px solid black;
    }
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

 ::-webkit-scrollbar-button:start:decrement,
#doc ::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}

 ::-webkit-scrollbar-track-piece {
    background-color: #001E19;
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
}

 ::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(228, 176, 86, 0.8);
    -webkit-border-radius: 8px;
    box-shadow: inset 5px 5px 5px $shade;
}

 ::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: rgba(228, 176, 86, 0.8);
    -webkit-border-radius: 8px;
}

.hidden {
    display:none;
  }
  
  .myButton {
      -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
      -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
      box-shadow:inset 0px 1px 0px 0px #ffffff;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
      background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
      background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
      background-color:#ffffff;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      border:1px solid #dcdcdc;
      display:inline-block;
      cursor:pointer;
      color:#666666;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #ffffff;
  }
  .myButton:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
      background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
      background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
      background-color:#f6f6f6;
  }
  .myButton:active {
      position:relative;
      top:1px;
  }

  


/*--------------------------------------------------------------------------*/
@font-face {
    font-family: 'Lora';
    src:url('Lora.ttf.woff') format('woff'),
        url('Lora.ttf.svg#Lora') format('svg'),
        url('Lora.ttf.eot'),
        url('Lora.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
* { 
    font-family: 'Lora';
 } 