<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link href="Stylesheet.css" rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet"></link>
</head>
<body>
<a href="/index.html" id="header"><h1>Sten Sax Påse</h1></a>
<h5>Login</h5>
<div>
    <p th:text="${loginError}"></p>
</div>
<form action="login" method="post">
    Username: <input name="username" type="text"/>
    Password: <input name="password" type="password"/>
    <input type="submit" value="login"/>
</form>
<hr/>
<p id="footer">© Vanessa , Jimmy , Erik och Hans</p>
</body>
</html>