<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css" th:href="style.css" />
</head>

<body>

    <header>
        <h1>New User</h1>
        <div id="button-container-right">
            <form action="newuser" method="get">
                <input name="submit" type="submit" value="Create new user" />
            </form>
        </div>

    </header>
    <div id="container">

        <div>
            <p th:text="${session.loginError}"></p>
        </div>
        <form action="login" method="post">
            Username:
            <input name="username" type="text" /> Password:
            <input name="password" type="password" />
            <input type="submit" value="Login" />

        </form>
    </div>
</body>

</html>