<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css" th:href="style.css" />
</head>

<body>
    <header>
        <h1>Log In</h1>

        <div id="button-container-right">
            <form action="login" method="get">
                <input name="submit" type="submit" value="Login" />
            </form>
        </div>
    </header>
    <div id="container">
        <div>
            <p th:text="${registrationError}"></p>
        </div>
        <form action="newuser" method="post">
            Select username:
            <input name="username" type="text" /> Select password:
            <input name="password" type="password" /> E-mail:
            <input name="email" type="email" />
            <input type="submit" value="Create new user" />
        </form>
    </div>
</body>

</html>